<!-- IMAGES REPEAT -->
<section>
  <h1>{{ boardsShow.board.title }}</h1>
  <h6>{{ boardsShow.board.description }}</h1>
  <button ng-show="boardsShow.isOwnBoard" ng-click="boardsShow.showCreateForm()">Add Pin</button>
  <div ng-hide="boardsShow.isOwnBoard">
    <button ng-hide="boardsShow.following" ng-click="boardsShow.followBoard()">Follow Board</button>
    <button ng-show="boardsShow.following" ng-click="boardsShow.unfollowBoard()">Unfollow Board</button>
  </div>
  <ul class="board">
    <li ng-repeat="pin in boardsShow.board.pins">
      <div class="pin-image" ng-if="pin.type === 'image'" style="background-image:url('{{ pin.link }}')" ng-click="boardsShow.showPinContent(pin)"></div>
      <youtube ng-if="pin.type === 'youtube'" link="{{ pin.link }}" width="100%" height="100%"></youtube>
      <div ng-if="pin.type === 'youtube'" class="youtube-overlay" ng-click="boardsShow.showPinContent(pin)"></div>
      <button type="button" ng-click="boardsShow.showCopyForm(pin)">Copy</button>
      <p class="pin-info">{{ pin.title}}</p>
    </li>
  </ul>
</section>

<!-- ADD PIN FORM -->
<div class="overlay" ng-if="boardsShow.formVisible">
  <div class="pin-form">
    <form ng-submit="boardsShow.createPin()">
      <div class="twelve columns">
        <label>Title</label>
        <!-- Image Uploader
        <imageuploader ng-controller="UploadController as upload">
          {{ upload }}
          <drag-drop base64="upload.data.base64"></drag-drop>
        </imageuploader> -->
        <input type="text" name="title" placeholder="Title" ng-model="boardsShow.newPin.title" class="u-full-width">
        <select class="typeSelect" ng-model="boardsShow.newPin.type">
          <option value="image">Image</option>
          <option value="youtube">YouTube</option>
        </select>
        <input type="text" name="link" placeholder="Link" ng-model="boardsShow.newPin.link" class="u-full-width">
      </div>
      <button>Create</button>
      <button type="button" ng-click="boardsShow.hideCreateForm()">Cancel</button>
    </form>
  </div>
</div>

<!-- SHOW PIN CONTENT FORM -->
<div class="overlay" ng-if="boardsShow.pinContentVisible">
  <section class="pin-form pin-content">
    <p>{{ boardsShow.currentPin.title }}</p>
    <img ng-if="boardsShow.currentPin.type === 'image'" ng-src="{{ boardsShow.currentPin.link }}">
    <div class="iframe-wrapper" ng-if="boardsShow.currentPin.type === 'youtube'" >
      <youtube link="{{ boardsShow.currentPin.link }}" width="100%" height="100%"></youtube>
    </div>
    <button type="button" name="cancel" ng-click="boardsShow.hidePinContent()">Cancel</button>
    <button type="button" name="editPin" ng-click="boardsShow.showEditForm(boardsShow.currentPin)">Edit Pin</button>
    </section>
  </div>


<!-- EDIT PIN FORM -->
<div class="overlay" ng-if="boardsShow.formEditVisible">
  <section class="pin-form">
    <form>
      <input type="text" name="title" placeholder="Title" ng-model="boardsShow.currentPin.title" class="u-full-width">
      <select class="typeSelect" ng-model="boardsShow.newPin.type">
        <option value="image">Image</option>
        <option value="youtube">YouTube</option>
      </select>
      <input type="text" name="link" placeholder="Link" ng-model="boardsShow.currentPin.link" class="u-full-width">
        <button class="editFormButton" type="button" ng-click="boardsShow.updateBoard(boardsShow.currentPin); boardsShow.hideEditForm()">Update Pin</button>
        <button class="editFormButton" type="button" ng-click="boardsShow.deletePin(boardsShow.currentPin);">Delete Pin</button>
        <button class="editFormButton" type="button" ng-click="boardsShow.hideEditForm()">Cancel</button>
      </form>
    </section>
  </div>

<!-- COPY PIN FORM -->
<div class="overlay" ng-if="boardsShow.formCopyVisible">
  <section class="pin-form">
    <h2>Pick a board you want to copy this pin too...</h2>
    <li ng-repeat="board in boardsShow.all" ng-click="boardsShow.copyPinToBoard(board)">
      <h3> {{ board.title }} </h3>
    </li>
    <button type="button" ng-click="boardsShow.hideCopyForm()">Cancel</button>
  </section>
</div>
