<section>
  <ul>
    <li ng-repeat="board in userBoards.all">
      <a ui-sref="boardsShow({ id: board._id })">
        <h1> {{ board.title }} </h1>
        <h2>{{ board.user.username }}</h2>
      </a>
      <button ng-click="userBoards.showEditForm(board)">Edit</button>
      <button ng-click="userBoards.delete(board)">Delete</button>
    </li>
  </ul>

  <!-- EDIT BOARD FORM -->
  <section class="board-form" ng-if="userBoards.formEditVisible">
    <form ng-submit="userBoards.updateBoard(userBoards.board)">
      <input type="text" name="title" placeholder="{{userBoards.currentBoard.title}}" ng-model="userBoards.currentBoard.title" class="u-full-width">
      <button type="button" ng-click="userBoards.updateBoard(userBoards.currentBoard)">Update</button>
      <button type="button" ng-click="userBoards.hideEditForm()">Hide</button>
    </form>
  </section>

</section>
