<p>
  Here are all your boards. Happy pinning!
</p>
<button ui-sref="boardsNew">Add Board</button>
<ul class="boards">
  <li ng-repeat="board in userBoards.all" class="board-single">
    <board-card board="board"></board-card>
    <button ng-click="userBoards.showEditForm(board)">Edit</button>
    <button ng-click="userBoards.showDeleteVerification(board)">Delete</button>
  </li>
</ul>

  <!-- EDIT BOARD FORM -->
  <div class="overlay" ng-if="userBoards.formEditVisible">
    <section class="pin-form">
      <form ng-submit="userBoards.updateBoard(userBoards.board)">
        <p>Title</p>
        <input type="text" name="title" placeholder="{{userBoards.currentBoard.title}}" ng-model="userBoards.currentBoard.title" class="u-full-width">
        <p>Description</p>
        <input type="text" name="title" placeholder="{{userBoards.currentBoard.description}}" ng-model="userBoards.currentBoard.description" class="u-full-width">
        <p>Tags</p>
        <input type="text" name="tags" placeholder="{{userBoards.currentBoard.tags}}" ng-model="userBoards.currentBoard.tags" class="u-full-width">
        <button type="button" ng-click="userBoards.updateBoard(userBoards.currentBoard); userBoards.hideEditForm()">Update Board</button>
        <button type="button" ng-click="userBoards.hideEditForm()">Cancel</button>
      </form>
    </section>
  </div>

  <!-- DELETE VERIFICATION  -->
  <div class="overlay" ng-if="userBoards.deleteVerificationVisible">
    <section class="pin-form">
      <p>Are you sure you want to delete this board?</p>
      <button ng-click="userBoards.delete()">Delete</button>
      <button ng-click="userBoards.hideDeleteVerification()">Cancel</button>
      <!-- <button ng-click="userBoards.delete(board)">Delete</button> -->
    </section>
  </div>
