<div class="background-image" style="background-image:url('images/bg.jpg')">

  <section class="login">
    <h1>
      Bored? Make a Board
    </h1>
    <form novalidate ng-submit="login.submit()">
      <div class="row">
        <label>Email</label>
        <input class="u-full-width" type="email" placeholder="Email" ng-model="login.credentials.email">
      </div>
      <div class="row">
        <label>Password</label>
        <input class="u-full-width" type="password" placeholder="Password" ng-model="login.credentials.password">
      </div>
      <button>Login</button>
    </form>
    <div class="social">
      <button ng-click="login.authenticate('facebook')">
        <img src="images/facebook.png" alt="Logo image">Login with</br>Facebook
      </button>
      <button ng-click="login.authenticate('instagram')">
        <img src="images/Instagram.png" alt="Logo image">Login with</br>Instagram
      </button>
    </div>
  </section>
</div>
