<div class="background-image" style="background-image:url('images/testing-bg.jpeg')">
  <section class="login">
    <form novalidate ng-submit="register.submit()">
      <div class="row">
        <label>Username</label>
        <input class="u-full-width" type="text" placeholder="Username" ng-model="register.user.username">
      </div>
      <div class="row">
        <label>Email</label>
        <input class="u-full-width" type="email" placeholder="Email" ng-model="register.user.email">
      </div>
      <div class="row">
        <label>Password</label>
        <input class="u-full-width" type="password" placeholder="Password" ng-model="register.user.password">
      </div>
      <div class="row">
        <label>Password Confirmation</label>
        <input class="u-full-width" type="password" placeholder="Password Confirmation" ng-model="register.user.passwordConfirmation">
      </div>
      <button>Register</button>
    </form>
  </section>
</div>  
