<p>
  Here are all your boards. Happy pinning! <a href="#">Ugh</a>
</p>
<ul class="boards">
  <li ng-repeat="board in userBoards.all" class="board-single">
    <div class="tiles">
      <ul>
        <li ng-repeat="pin in board.pins | limitTo : 3" style="background-image:url('{{pin.link}}')"></li>
      </ul>
    </div>
    <a id="board-links" ui-sref="boardsShow({ id: board._id })">
      <h2>{{ board.title }}</h2>
      <h3>{{ board.user.username }}</h3>
    </a>
    <button ng-click="userBoards.showEditForm(board)">Edit</button>
    <button ng-click="userBoards.delete(board)">Delete</button>
  </li>
</ul>

<!-- <section>

  <ul>
    <li ng-repeat="board in userBoards.all">
      <a ui-sref="boardsShow({ id: board._id })">
        <h1> {{ board.title }} </h1>
        <h2>Pinned by: {{ board.user.username }}</h2>
      </a>
      <button ng-click="userBoards.showEditForm(board)">Edit</button>
      <button ng-click="userBoards.delete(board)">Delete</button>
    </li>
  </ul> -->

  <!-- EDIT BOARD FORM -->
  <div class="overlay" ng-if="userBoards.formEditVisible">
    <section class="pin-form">
      <form ng-submit="userBoards.updateBoard(userBoards.board)">
        <p>Title</p>
        <input type="text" name="title" placeholder="{{userBoards.currentBoard.title}}" ng-model="userBoards.currentBoard.title" class="u-full-width">
        <p>Description</p>
        <input type="text" name="title" placeholder="{{userBoards.currentBoard.description}}" ng-model="userBoards.currentBoard.description" class="u-full-width">
        <p>Tags</p>
        <input type="text" name="tags" placeholder="{{userBoards.currentBoard.tags}}" ng-model="userBoards.currentBoard.tags" class="u-full-width">
        <button type="button" ng-click="userBoards.updateBoard(userBoards.currentBoard); userBoards.hideEditForm()">Update Board</button>
        <button type="button" ng-click="userBoards.hideEditForm()">Cancel</button>
      </form>
    </section>
  </div>

<!--
<!- EDIT BOARD FORM -->
<!-- <section class="board-form" ng-if="userBoards.formEditVisible">
  <form ng-submit="userBoards.updateBoard()">
    <input type="text" name="title" placeholder="Title" ng-model="userBoards.board.title" class="u-full-width">
    <button>Update</button>
    <button type="button" ng-click="userBoards.hideEditForm()">Hide</button>
  </form>
</section> -->
