<h3>
  Here are all your boards. Happy pinning!
</h3>
<ul class="boards">
  <li ng-repeat="board in userBoards.all" class="board-single">
    <board-card board="board"></board-card>

    <button ng-click="userBoards.showEditForm(board)">Edit</button>
    <button ng-click="userBoards.delete(board)">Delete</button>
  </li>
</ul>

<!-- <section>

  <ul>
    <li ng-repeat="board in userBoards.all">
      <a ui-sref="boardsShow({ id: board._id })">
        <h1> {{ board.title }} </h1>
        <h2>Pinned by: {{ board.user.username }}</h2>
      </a>
      <button ng-click="userBoards.showEditForm(board)">Edit</button>
      <button ng-click="userBoards.delete(board)">Delete</button>
    </li>
  </ul> -->

  <!-- EDIT BOARD FORM -->
  <div class="overlay" ng-if="userBoards.formEditVisible">
    <section class="pin-form">
      <form ng-submit="userBoards.updateBoard(userBoards.board)">
        <p>Title</p>
        <input type="text" name="title" placeholder="{{userBoards.currentBoard.title}}" ng-model="userBoards.currentBoard.title" class="u-full-width">
        <p>Description</p>
        <input type="text" name="title" placeholder="{{userBoards.currentBoard.description}}" ng-model="userBoards.currentBoard.description" class="u-full-width">
        <p>Tags</p>
        <input type="text" name="tags" placeholder="{{userBoards.currentBoard.tags}}" ng-model="userBoards.currentBoard.tags" class="u-full-width">
        <button type="button" ng-click="userBoards.updateBoard(userBoards.currentBoard); userBoards.hideEditForm()">Update Board</button>
        <button type="button" ng-click="userBoards.hideEditForm()">Cancel</button>
      </form>
    </section>
  </div>

<!--
<!- EDIT BOARD FORM -->
<!-- <section class="board-form" ng-if="userBoards.formEditVisible">
  <form ng-submit="userBoards.updateBoard()">
    <input type="text" name="title" placeholder="Title" ng-model="userBoards.board.title" class="u-full-width">
    <button>Update</button>
    <button type="button" ng-click="userBoards.hideEditForm()">Hide</button>
  </form>
</section> -->

<!-- <div class="overlay" ng-if="userBoards.userformVisible">
  <section class="login">
    <form novalidate ng-submit="register.submit()">
      <div class="row">
        <label>Username</label>
        <input class="u-full-width" type="text" placeholder="Username" ng-model="register.user.username">
      </div>
      <div class="row">
        <label>Email</label>
        <input class="u-full-width" type="email" placeholder="Email" ng-model="register.user.email">
      </div>
      <div class="row">
        <label>Password</label>
        <input class="u-full-width" type="password" placeholder="Password" ng-model="register.user.password">
      </div>
      <div class="row">
        <label>Password Confirmation</label>
        <input class="u-full-width" type="password" placeholder="Password Confirmation" ng-model="register.user.passwordConfirmation">
      </div>
      <button>Register</button>
    </form>
  </section>
</div> -->
