// @import'partials/normalize';
@import'bourbon/bourbon';
@import'neat/neat';
@import'base/base';

body {
  background-color: white;
}

img {
  max-width: 100%;

}

main {
  @include outer-container;
}

.board {
  li {
    @include outer-container;
      header { @include span-columns(3); }
      section { @include span-columns(9); }
  }
}

button {
  margin-top: 5px;
  border-radius: 10px;
}
